<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMVLwdkM68rutKZriyFb-5qf7mXTgUrsI</string>
	<key>GCM_SENDER_ID</key>
	<string>846029307639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itanzgroup.shireOfIrwin</string>
	<key>PROJECT_ID</key>
	<string>shire-of-irwin-9c131</string>
	<key>STORAGE_BUCKET</key>
	<string>shire-of-irwin-9c131.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846029307639:ios:315bf087f1e1b7b5709df2</string>
</dict>
</plist>